--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.7.0+cpu
psycopg2-binary
pandas
sqlalchemy
python-dotenv
requests
google-genai
sentence-transformers
faiss-cpu
fastapi
uvicorn
streamlit
transformers
pdfplumber
python-docx
openpyxl
pytesseract
Pillow
python-magic
boto3