psycopg2-binary
pandas
sqlalchemy
python-dotenv
requests
google-genai
sentence-transformers
faiss-cpu
fastapi
uvicorn
streamlit
transformers
torch
pdfplumber
python-docx
openpyxl
pytesseract
Pillow
python-magic
boto3